.Login{
    max-width: 480px;
    margin: 100px auto;
    text-align: center;
}
.Login h1{
    font-weight: bold;
    font-size: 3em;
}
.Login-Field {
    border: none;
    background: rgba(0, 0, 0, .25);
    color: #fdfdfd;
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 7px;
    width: 100%;
    transition: all .1s linear;
}

.Login-Field:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, .5);
    background: rgba(0, 0, 0, .40);
    outline: none;
}

.Login-Error {
    color: #ff8080;
}

.Login-Btn {
    background: #00cc99;
    color: #fdfdfd;
    padding: 1rem 2rem;
    border: none;
    border-radius: 15px;
    margin-top: 2rem;
    width: 100%;
    transition: all .3s;
    font-weight: bold;
    margin-bottom: 30px;
}
.Login-Btn:hover{
    background: #009c75;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.linkRegister{
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: all .3s;
}
.linkRegister:hover{
    color: #333;
}