.Box-Success{
    background-color: #fff;
    max-width: 800px;
    margin: 100px auto;
    padding: 100px 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 12px -2px rgba(0, 0, 0, 0.35);
}
.Title-StepOne{
    font-size: 2.5em;
    font-weight: bold;
    color: #7159C1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.P-StepOne{
    color: rgb(58, 58, 58);
    font-size: 1.5em;
    font-weight: 100;
    line-height: 0.9em;
    text-align: center;
}